@import "tailwindcss";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@font-face {
  font-family: "Neptune";
  src: url("./assets/fonts/Neptune.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Wasted Vindey";
  src: url("./assets/fonts/Wasted-Vindey.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aldith";
  src: url("./assets/fonts/ALDITH-Grunge.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(
    135deg,
    #0f0f0f 0%,
    #15151e 25%,
    #1a1f3c 60%,
    #1f2b4a 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities{
  .font-pirata {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .font-cinzel{
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .font-michroma {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .font-style {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
  }
  .font-wasted {
    font-family: 'Wasted Vindey';
  }
  .font-aldith {
    font-family: 'Aldith';
  }
  .font-neptune {
    font-family: 'Neptune';
  }
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  @keyframes blink {
    50% { border-color: transparent; }
  }

  @keyframes clarify {
    0% {
      opacity: 0;
      transform: translateY(10px) scale(0.98);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  .clarify-animation {
    animation: clarify 3s ease-out forwards;
  }
}

